# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Input PDFs
input/

# VS Code
.vscode/

# Generated output
output/

# Build artifacts
dist/
build/
*.egg-info/

# Windows
Thumbs.db
.
# macOS
.DS_Store

# Logs
*.log